<h1>Full Menu</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

<% @menuitems.each do |menuitem| %>
  <hr><tr>
    <td><%= menuitem.name %></td>
    <td><%= menuitem.description %></td>
    <td><%= menuitem.price %></td>

  </tr>
  <hr>
</table>

<% end %>
