<p>
  <strong>Name:</strong>
  <%= @menuitem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menuitem.description %>
</p>

<p>
  <strong>Ready:</strong>
  <%= @menuitem.ready %>
</p>

<p>
  <strong>Served:</strong>
  <%= @menuitem.served %>
</p>
